<div class="jumbotron" align="center">
  <h1>1st Green, Inc.</h1>
  <p>Design / Build Landscape Solutions</p>
  <p><%= link_to 'Learn more', portfolio_path, class: 'btn btn-primary btn-lg' %></p>
</div>
