<div class="container" align="center">
    <h1>Portfolio</h1>
    <div class="row">
        <a class="fancybox" rel="group" href="https://static.pexels.com/photos/169738/pexels-photo-169738.jpeg">
            <img id="fancy" class="col-lg-4" src="https://static.pexels.com/photos/169738/pexels-photo-169738.jpeg" alt="" />
        </a>
        <a class="fancybox" rel="group" href="https://static.pexels.com/photos/169738/pexels-photo-169738.jpeg">
            <img id="fancy" class="col-lg-4" src="https://static.pexels.com/photos/169738/pexels-photo-169738.jpeg" alt="" />
        </a>
        <a class="fancybox" rel="group" href="https://static.pexels.com/photos/169738/pexels-photo-169738.jpeg">
            <img id="fancy" class="col-lg-4" src="https://static.pexels.com/photos/169738/pexels-photo-169738.jpeg" alt="" />
        </a>
    </div>
    <div class="row">
        <a class="fancybox" rel="group" href="https://static.pexels.com/photos/169738/pexels-photo-169738.jpeg">
            <img id="fancy" class="col-lg-4" src="https://static.pexels.com/photos/169738/pexels-photo-169738.jpeg" alt="" />
        </a>
        <a class="fancybox" rel="group" href="https://static.pexels.com/photos/169738/pexels-photo-169738.jpeg">
            <img id="fancy" class="col-lg-4" src="https://static.pexels.com/photos/169738/pexels-photo-169738.jpeg" alt="" />
        </a>
        <a class="fancybox" rel="group" href="https://static.pexels.com/photos/169738/pexels-photo-169738.jpeg">
            <img id="fancy" class="col-lg-4" src="https://static.pexels.com/photos/169738/pexels-photo-169738.jpeg" alt="" />
        </a>
    </div>
    <div class="row">
        <a class="fancybox" rel="group" href="https://static.pexels.com/photos/169738/pexels-photo-169738.jpeg">
            <img id="fancy" class="col-lg-4" src="https://static.pexels.com/photos/169738/pexels-photo-169738.jpeg" alt="" />
        </a>
        <a class="fancybox" rel="group" href="https://static.pexels.com/photos/169738/pexels-photo-169738.jpeg">
            <img id="fancy" class="col-lg-4" src="https://static.pexels.com/photos/169738/pexels-photo-169738.jpeg" alt="" />
        </a>
        <a class="fancybox" rel="group" href="https://static.pexels.com/photos/169738/pexels-photo-169738.jpeg">
            <img id="fancy" class="col-lg-4" src="https://static.pexels.com/photos/169738/pexels-photo-169738.jpeg" alt="" />
        </a>
    </div>
    <div class="row">
        <a class="fancybox" rel="group" href="https://static.pexels.com/photos/169738/pexels-photo-169738.jpeg">
            <img id="fancy" class="col-lg-4" src="https://static.pexels.com/photos/169738/pexels-photo-169738.jpeg" alt="" />
        </a>
        <a class="fancybox" rel="group" href="https://static.pexels.com/photos/169738/pexels-photo-169738.jpeg">
            <img id="fancy" class="col-lg-4" src="https://static.pexels.com/photos/169738/pexels-photo-169738.jpeg" alt="" />
        </a>
        <a class="fancybox" rel="group" href="https://static.pexels.com/photos/169738/pexels-photo-169738.jpeg">
            <img id="fancy" class="col-lg-4" src="https://static.pexels.com/photos/169738/pexels-photo-169738.jpeg" alt="" />
        </a>
    </div>
</div>






<script>$(document).ready(function() {
  $("a.fancybox").fancybox();
});</script>