<div align="center" class="container">
    <h1>Services</h1>
    <div class="row">
        <div class="col-lg-6 img-thumbnail" id="image1"></div>
        <div class="well col-lg-6" id="services">
            <h3>Landscape Installation</h3>
            <ul class="services-list">
                <li>Perennial gardens designed by master designers</li>
                <li>Complete planning and bed soil preparation</li>
                <li>Unique Irrigation designs and installation for planting areas</li>
                <li>Annual potting and planting</li>
            </ul>
        </div>
        <div class="col-lg-6 img-thumbnail" id="image1"></div>
        <div class="well col-lg-6" id="services">
            <h3>Design</h3>
            <ul class="services-list">
                <li>Complete landscape service, from design to installation and maintenance.</li>
                <li>Our professional staff of degreed landscape architects, designers, and project managers will move your 
            project successfully from concept to completion.</li>
            </ul>
        </div>
        <div class="col-lg-6 img-thumbnail" id="image1"></div>
        <div class="well col-lg-6" id="services">
            <h3>Hardscape Construction</h3>
            <ul class="services-list">
                <li>Decorative stone patios, walkways and entries</li>
                <li>Stone pillars and seat walls</li>
                <li>Custom fireplaces and fire pits</li>
                <li>Outdoor, built-in grills and cooking area</li>
            </ul>
        </div>
        <div class="col-lg-6 img-thumbnail" id="image1"></div>
        <div class="well col-lg-6" id="services">
            <h3>Water Features</h3>
            <ul class="services-list">
                <li>Natural water features using biological filter technology</li>
                <li>Integrated water features to swimming pools and spas</li>
                <li>Bubbling boulder accents</li>
            </ul>
        </div>
        <div class="col-lg-6 img-thumbnail" id="image1"></div>
        <div class="well col-lg-6" id="services">
            <h3>Special Elements</h3>
            <ul class="services-list">
                <li>Retaining walls</li>
                <li>Excavation services</li>
                <li>Site grading and contouring</li>
                <li>Drainage design and installation</li>
                <li>Soil preparation</li>
            </ul>
        </div>
    </div>
</div>