$navbar-default-bg: black;

#logo {
    float: left;
    font-size: 1.7em;
    color: black;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#footer {
    padding-top: 20px;
}

#image1 {
    background-image: url(https://static.pexels.com/photos/26920/pexels-photo.jpg);
    background-size: cover;
    height: 200px;
}

#services {
    height: 200px;
}

#fancy {
  height:250px;
  padding-bottom: 27px;
}

.services-list {
    list-style: none;
}

footer h4 {
    text-transform: uppercase;
    letter-spacing: -1px;
}

h1 {
    padding-bottom: 30px;
}