<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h4><strong>1st Green, Inc.</strong></h4>
                <p>1960 E. Browning ave <br /> Salt Lake City, UT 84108 <br /> (435) 219-1503</p>
            </div>
        </div>
    </div>
</footer>